.stage {
  width: 400px;
  height: 300px;
  border: 2px solid; 
  perspective: 1000px;
  perspective-origin: -60px -50px;
}
.container {
  width: 100px;
  height: 100px;
  margin: 80px auto;
  position: relative;
  transform-style: preserve-3d;
  animation-name: turn;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s; 
}
.container div {
  position: absolute;
}
.top, .bottom, .left, .right, .front, .back {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 2px solid tomato;
  text-align: center;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s; 
}
.top {
  animation-name: topAnimation;
}
.bottom {
  animation-name: bottomAnimation;
}
.left {
  animation-name: leftAnimation;
}
.right {
  animation-name: rightAnimation;
}
.front {
  animation-name: frontAnimation;
}
.back {
  animation-name: backAnimation;
}
h1 {
  text-align: center;
}
@keyframes turn {
  from {
    transform: rotateY(0deg);
  }
  60% {
    transform: rotateY(359deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
@keyframes topAnimation {
  from {
    transform: rotateX(90deg) translateZ(50px);
  }
  60% {
    transform: rotateX(90deg) translateZ(50px);
  }
  80% {
    transform: rotateX(90deg) translateZ(90px);
  }
  to {
    transform: rotateX(90deg) translateZ(50px);
  }
}
@keyframes bottomAnimation {
  from {
    transform: rotateX(90deg) translateZ(-50px);
  }
  60% {
    transform: rotateX(90deg) translateZ(-50px);
  }
  80% {
    transform: rotateX(90deg) translateZ(-90px);
  }
  to {
    transform: rotateX(90deg) translateZ(-50px);
  }
}
@keyframes leftAnimation {
  from {
    transform: rotateY(-90deg) translateZ(50px);
  }
  60% {
    transform: rotateY(-90deg) translateZ(50px);
  }
  80% {
    transform: rotateY(-90deg) translateZ(90px);
  }
  to {
    transform: rotateY(-90deg) translateZ(50px);
  }
}
@keyframes rightAnimation {
  from {
    transform: rotateY(90deg) translateZ(50px);
  }
  60% {
    transform: rotateY(90deg) translateZ(50px);
  }
  80% {
    transform: rotateY(90deg) translateZ(90px);
  }
  to {
    transform: rotateY(90deg) translateZ(50px);
  }
}
@keyframes frontAnimation {
  from {
    transform: translateZ(50px);
  }
  60% {
    transform: translateZ(50px);
  }
  80% {
    transform: translateZ(90px);
  }
  to {
    transform: translateZ(50px);
  }
}
@keyframes backAnimation {
  from {
    transform: translateZ(-50px);
  }
  60% {
    transform: translateZ(-50px);
  }
  80% {
    transform: translateZ(-90px);
  }
  to {
    transform: translateZ(-50px);
  }
}